

{% block contenido %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmacion</title>
</head>

<body>

  <form action="{% url 'confirmar' reserva.id_reserva %}" method="post">{% csrf_token%}

    <label for="">nombre</label>
    <input type="text" name="nombre" id="name" value={{ reserva.nombre_re }}>
<br>
    <label for="">telefono</label>
    <input type="text" name="telefono" id="name" value={{ reserva.telefono }}>

    <br><br>
    <button type="submit">probando</button>
</form>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock%}