
{% load i18n static %}

<div class="login">
    <h1>Crea una reserva para poder degustar nuestros platos!</h1>

    <div id="container">
        <div id="header" class="bg-info">
            <h1>Registro Reserva</h1>
        </div>
        <div id="content-main">
            <form action="{{ app_path }}" method="post" id="login-form">
                {% csrf_token %}

                 {{form}}
                <div class="submit-row">
                    <input type="submit" value="Registrar" class="btn btn-success" >
                </div>

            </div>
        </div>

    </div>

</div>


<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/fonts.css">
<link rel="stylesheet" href="static/css/style.css">
<br>
<br>
<br>
<br>
<br>
<br>