<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/fonts.css">
<link rel="stylesheet" href="static/css/style.css">
<br>
<br>
<br>
<br>
<br>
<br>
<section class="section-transform-top">
    <div class="container">
      <div class="box-booking">
        <form class="rd-form rd-mailform booking-form">
            <div>
                <p class="booking-title">Correo</p>
                <input type="email" id="email" name="email" placeholder="john@itmasters.cl"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <label>
            </div>
          
          <div>
            <p class="booking-title">Telefono</p>
            <div class="form-wrap">
              <input class="form-input" placeholder="+56912345678" id="booking-phone" type="number" name="telefono" data-constraints="@Numeric">
              <label class="form-label" for="booking-phone"></label>
            </div>
          </div>
          
          
          <div>
            <button class="button button-lg button-gray-600"  type="submit">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </section>